
/* Downloaded the image from my freepic account <a href='https://www.freepik.com/vectors/background'>Background vector created by freepik - www.freepik.com</a>  */
body {
    font-family: "Comic Sans MS", sans-serif;
    background-image: url("../images/1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
  }

  .thescores {
    position: absolute;
    top: 20px;
    left: 80px;
    font-size: 20px;
    font-weight: bold;
  }

  a {
    color: green;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
  }

  .timer {
    position: absolute;
    top: 20px;
    right: 80px;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }

  .main {
    margin: 100px auto;
   max-width: 700px;
   color: white;
  }
  
  .start {
    text-align: center;
  }
  
  
  button {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 100%;
    background-color: green;
    border-radius: 45px 5px ;
    color: white;
   text-shadow: royalblue;
   display: inline-block;
    cursor: pointer;
    margin: 10px;
    padding: 8px;
    
  }
  
  button:hover {
    background-color: red;
  }
  
  

  