
/* Downloaded the image from my freepic account <a href='https://www.freepik.com/vectors/background'>Background vector created by freepik - www.freepik.com</a>  */
body {
    font-family: "Comic Sans MS", sans-serif;
    background-image: url("../images/1.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
  }

  .thescores {
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 20px;
    font-weight: bold;
  }

  a {
    color: green;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
  }

  .timer {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }

  .main {
    margin: 100px auto;
   max-width: 700px;
   color: white;
  }
  
  .start {
    text-align: center;
  }
  
  
  button {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 100%;
    background-image: linear-gradient(50deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    transition: all .5s ease-out;  
    background-position: 0px -10px;
    background-color: #FA8BFF;
    border-radius: 45px 5px ;
    color: ;
   text-shadow: royalblue;
   display: inline-block;
    cursor: pointer;
    margin: 10px;
    padding: 8px;
    
  }
  
  button:hover {
    background-position: 1px -50px;
  }

  .hide{
    display: none;
  }

  /* the Transition for the Zoom out score */
  .zoom-out {
    -ms-transform: scale(0.5); /* IE 9 */
    -webkit-transform: scale(0.5); /* Safari 3-8 */
    transform: scale(0.5); 
  }

  #real-score{
font-size: 300px;
transition: transform .6s;
margin: 0;

  }
  
  

  